* {
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-weight: normal;
}

html {
    background: #f0f9fc;
}

.container {
    display: flex;
    flex-flow: column;
}

/* NAV */

nav.navBar {
    background: #63ecef;
}

div.navBar_menu {
    display: flex;
    align-items: center;
}

.navBar_menu--logo {
    flex: 0 0 10%;
}

ul#navBar_menu--list {
    flex: 0 0 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

li.navBar_menu--item {
    float: left;
    min-width: 160px;
    display: block;
    text-align: center;
    transition-property: border-bottom;
    transition-duration: 1s;
    transition-delay: .2s;
    transition-timing-function: ease-in-out;
}

a.navBar_menu--link {
    font-size: 25px;
    color: #353535;
}

li.navBar_menu--item:hover > a.navBar_menu--link::after {
    transform: scale3d(1, 1, 1);
}

a.navBar_menu--link::after {
    content: "";
    background: #353535;
    position: relative;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    z-index: 0;
    transform: scale3d(0, 1, 1);
    transition: transform .3s;
    transition-timing-function: cubic-bezier(1, .68, .16, .9);
}

/* HEADER */
header#header {
    padding: 30px;
}

.empresa_historia {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.empresa_historia--imagen {
    flex: 0 0 40%;
}

.empresa_historia--body {
    flex: 0 0 60%;
}

.empresa_historia--imagen > img {
    height: auto;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 0 0 4px #454545;
}

.empresa_historia--body {
    flex: 0 0 60%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

/* Prueba Botones Expandibles */

.pruebaBotones {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
}

.pruebaBotones > button {
    flex: 0 0 25%;
    height: 35px;
}

.empresa_historia--parrafos {
    height: 100%;
    border: 1px solid red;
}

p.expandible_body--text {
    margin-bottom: 5px;
    font-size: 20px;
    padding: 5px 15px;
}

.empresa_historia--expandible {
    top: 0;
    opacity: 1;
    z-index: 1;
    transition-property: top, z-index, opacity;
    transition-delay: .5s;
    transition-duration: 1s;
    transition-timing-function: linear;
}


/* SECTION PRODCUTOS */
main#main {
    padding-bottom: 30px;
}

main#main h2 {
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.productos_container {
    padding: 10px 0;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.productos_container--icono {
    flex: 0 0 15%;
    padding: 5px;
    text-align: center;
    border-radius: 7px;
    cursor: pointer;
}

h3.productos_container--title {
    font-size: 25px;
    padding-bottom: 12px;
}

.productos_container--icono span {
    display: flex;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid #000;
    background: #63ecef;
    margin: auto;
    transition-property: background-color;
    transition-duration: .4s;
    transition-delay: .1s;
    transition-timing-function: linear;
}

.productos_container--icono img {
    width: 130px;
    display: block;
    margin: auto;
    transition-property: filter;
    transition-duration: .4s;
    transition-delay: .1s;
    transition-timing-function: linear;
}

.productos_container--icono:hover > span {
    background-color: #df0b13;
}

.productos_container--icono:hover img {
    filter: invert(.85);
}

.container-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000048;
    height: 100%;
    display: flex;
    margin: auto;
}

.container-modal > .modalBody {
    display: flex;
    flex-flow: row;
    margin: auto;
    padding: 40px 25px;
    border-radius: 7px;
    background: #efecec;
}

.container-modal > .modalBody li.empresas-item {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.container-modal > .modalBody li.empresas-item div {
    display: flex;
    flex-flow: column;
    align-items: center;
    min-height: 180px;
    justify-content: space-between;
}

.container-modal > .modalBody li.empresas-item div img {
    height: auto;
    min-width: 300px;
    max-width: 300px;
}

.container-modal > .modalBody li.empresas-item div span {
    font-size: 30px;
}