* {
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-weight: normal;
}

html {
    background: #f0f9fc;
}

.container {
    display: flex;
    flex-flow: column;
}

/* NAV */

nav.navBar {
    background: #63ecef;
}

div.navBar_menu {
    display: flex;
    align-items: center;
}

.navBar_menu--logo {
    flex: 0 0 10%;
}

ul#navBar_menu--list {
    flex: 0 0 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

li.navBar_menu--item {
    float: left;
    min-width: 160px;
    display: block;
    text-align: center;
    transition-property: border-bottom;
    transition-duration: 1s;
    transition-delay: .2s;
    transition-timing-function: ease-in-out;
}

a.navBar_menu--link {
    font-size: 25px;
    color: #353535;
}

li.navBar_menu--item:hover > a.navBar_menu--link::after {
    transform: scale3d(1, 1, 1);
}

a.navBar_menu--link::after {
    content: "";
    background: #353535;
    position: relative;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    z-index: 0;
    transform: scale3d(0, 1, 1);
    transition: transform .3s;
    transition-timing-function: cubic-bezier(1, .68, .16, .9);
}

/* HEADER */
header#header {
    padding: 30px;
}

.empresa_historia {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.empresa_historia--imagen {
    flex: 0 0 40%;
}

.empresa_historia--body {
    flex: 0 0 60%;
}

.empresa_historia--imagen > img {
    height: auto;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 0 0 4px #454545;
}

.empresa_historia--body {
    flex: 0 0 60%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

/* Prueba Botones Expandibles */

.pruebaBotones {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
}

.pruebaBotones > button {
    flex: 0 0 25%;
    height: 35px;
    background: #fbeaea;
    border: 1px solid #f3bbbb;
}

button.expandible_btn:first-of-type {
    border-top-left-radius: 10px;
}

button.expandible_btn:last-of-type {
    border-top-right-radius: 10px;
}

button.expandible_btn.active {
    box-shadow: inset 0 0 4px #f19595;
}

.empresa_historia--parrafos {
    height: 100%;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 2px 1px #555555;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

p.expandible_body--text {
    margin-bottom: 5px;
    font-size: 20px;
    padding: 5px 15px;
}

.empresa_historia--expandible {
    top: 0;
    opacity: 1;
    z-index: 1;
    transition-property: top, z-index, opacity;
    transition-delay: .5s;
    transition-duration: 1s;
    transition-timing-function: linear;
}


/* SECTION PRODCUTOS */
main#main {
    padding-bottom: 30px;
}

main#main h2 {
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.productos_container {
    padding: 10px 0;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.productos_container--icono {
    flex: 0 0 15%;
    padding: 5px;
    text-align: center;
    border-radius: 7px;
    cursor: pointer;
}

h3.productos_container--title {
    font-size: 25px;
    padding-bottom: 12px;
}

.productos_container--icono span {
    display: flex;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid #000;
    background: #63ecef;
    margin: auto;
    transition-property: background-color;
    transition-duration: .4s;
    transition-delay: .1s;
    transition-timing-function: linear;
}

.productos_container--icono img {
    width: 130px;
    display: block;
    margin: auto;
    transition-property: filter;
    transition-duration: .4s;
    transition-delay: .1s;
    transition-timing-function: linear;
}

.productos_container--icono:hover > span {
    background-color: #df0b13;
}

.productos_container--icono:hover img {
    filter: invert(.85);
}

.container-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000048;
    height: 100%;
    display: flex;
    margin: auto;
}

.container-modal > .modalBody {
    display: flex;
    flex-flow: row;
    margin: auto;
    padding: 40px 25px;
    border-radius: 7px;
    background: #efecec;
}

.container-modal > .modalBody li.empresas-item {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.container-modal > .modalBody li.empresas-item div {
    display: flex;
    flex-flow: column;
    align-items: center;
    min-height: 180px;
    justify-content: space-between;
}

.container-modal > .modalBody li.empresas-item div img {
    height: auto;
    min-width: 300px;
    max-width: 300px;
}

.container-modal > .modalBody li.empresas-item div span {
    font-size: 30px;
}

/* CONTACTO */

.contacto_comoLlegar {
    display: flex;
    flex-flow: column;
}

.contacto_comoLlegar h3 {
    font-size: 25px;
    padding-bottom: 15px;
}

section#contacto {
    padding: 10px;
}

section#contacto > h2 {
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

div#form_container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    column-gap: 50px;
}

form#formulario {
    padding: 20px;
    background: #fdfdfd;
    border-radius: 5px;
    box-shadow: 0 0 7px #454545;
}

.form_box:not(.respuesta, .submit) {
    display: flex;
    flex-flow: column;
    min-width: 700px;
    margin-bottom: 15px;
}

.form_box label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 18px;
}

.form_box input, 
.form_box textarea, 
.form_box select {
    padding: 5px 12px;
    min-height: 21px;
    border-radius: 10px;
    border: none;
    background: #fceaea;
    font-size: 18px;
}

select#asunto option {
    background-color: #dbfcfd;
}

select#asunto option:checked {
    background: #f1cdcd;
}

.form_box textarea {
    min-height: 70px;
}

.form_box.submit button {
    display: block;
    width: 50%;
    padding: 7px 12px;
    font-size: 20px;
    margin: auto;
    border-radius: 10px;
    border: none;
    background: linear-gradient(180deg, #63ecef, #68ecef, #7bf4f7, #68ecef, #63ecef);
    box-shadow: 0 0 15px #dddbdb;
    cursor: pointer;
}

.mensaje {
    padding: 10px;
    width: 90%;
    text-align: center;
    font-size: 18px;
    margin: auto;
    margin-bottom: 18px;
    border-radius: 5px;
}

.enviado {
    background: #a0f0a0;
    color: #016401;
    border: 1px solid #50c750;
}

.error {
    background: #f0a0a0;
    color: #640101;
    border: 1px solid #c75050;
}

footer#footer {
    margin-top: 40px;
    padding: 20px 40px;
    background: #454545;
    display: flex;
}

.footer_container {
    display: flex;
    flex: 0 0 100%;
    justify-content: center;
    align-items: center;
}

.footer_logo img {
    width: 270px;
}

.burger-menu {
    display: none;
}

a.close-modal {
    font-size: 20px;
    font-weight: bold;
    color: #454545;
    background: #68ecef;
    padding: 13px;
    position: relative;
    max-height: 12px;
    border-radius: 50%;
    line-height: 65%;
    right: -44px;
    top: -58px;
    box-shadow: 0 0 4px #000;
}

@media (orientation: portrait) and (max-width: 700px) {
    .empresa_historia--imagen {
        flex: 0 0 100%;
        margin-bottom: 20px;
    }

    .empresa_historia--imagen > img {
        width: 100%;
    }

    .empresa_historia--body {
        flex: 0 0 100%;
    }

    form#formulario {
        width: 90%;
    }

    .contacto_comoLlegar--iframe{
        display: none;
    }

    .form_box:not(.respuesta, .submit) {
        min-width: 80%;
    }

    ul#navBar_menu--list {
        display: block;
        padding: 20px;
        position: absolute;
        background: #fbeaea;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        left: 0;
        right: 0;
        top: -200px;
    }

    li.navBar_menu--item {
        float: inherit;
    }

    .burger-menu {
        flex: 0 0 10%;
        height: auto;
        margin-left: auto;
        margin-right: 30px;
        display: block;
        transition-property: top;
        transition-delay: .1s;
        transition-duration: .6s;
        transition-timing-function: linear;
    }

    .mobile-menu {
        top: 98px !important;
    }

    .container-modal > .modalBody {
        padding: 30px 15px;
        flex: 0 0 82%;
    }

    .container-modal > .modalBody li.empresas-item div img {
        min-width: 225px;
    }

    .container-modal > .modalBody li.empresas-item div{
        min-height: 155px;
    }

    .container-modal > .modalBody li.empresas-item{
        justify-content: center;
    }

    a.close-modal {
        z-index: 9;
        right: -24px;
        top: -48px;
    }

    .container-modal {
        z-index: 9;
    }

    nav.navBar {
        position: fixed;
        left: 0;
        right: 0;
    }

    header#header {
        padding-top: 120px;
    }

    .empresa_historia--expandible{
        z-index: -1 !important;
    }
}